:root {
  --type-color: lightgrey;
  --text-color: white;
}

.type-of-food {
  width: 10vw;
  height: 5vw;
  border-radius: 15px;
  align-items: center;
  color: black;
  background-color: var(--type-color);
  margin: 15px;
}

.food-text {
  text-align: left !important;
  font-size: 1rem;
  color: var(--text-color);
  top: 30%;
  padding: 8% !important;
}

.type-of-food,
.food-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.food-item {
  width: 12vw;
  height: 19vw;
  border-radius: 15px;
  background-size: auto;
  background-image: linear-gradient(
      to bottom,
      rgb(255 255 255 / 0%),
      rgb(0 0 0 / 73%)
    ),
    url("../../assets/food.png");
  margin: 15px;
  padding: 0;
}
